<nav class="navbar">
    <div class="signature">
        <ul class="navbar_name">
            <li><a href="#">Vijay Belwal</a></li>
        </ul>
    </div>
    <div class="menu">
        <ul class="navbar_menu">
            <li><a href="#">Blogs</a></li>
            <li><a href="#">Projects</a></li>
        </ul>
        <div class="hireme">
            <app-button label="Download Resume"></app-button>
            <app-button label="Hire Me !" [focusRequired]=true></app-button>
        </div>
    </div>
    
</nav>

<hr/>